asgiref==3.11.1
Django==6.0.5
djangorestframework==3.17.1
pillow>=12.2.0
sqlparse>=0.5.5
tzdata==2026.2
python-dateutil>=2.9.0
python-dotenv==1.2.2
django-csp
gunicorn==23.0.0
psycopg[binary]==3.2.9
dj_database_url==3.1.2
